@page "/ColloquiDocenti"
@using Client.Components
<p>
    Da questa pagina i docenti possono vedere le proprie richieste di colloquio e accetarle o rifiutarle.<br/>
    Inoltre possono vedere le informazioni relative ai colloqui già accettati.
    non essendo disponibile il login, saranno disponibili solo i colloqui del docente 1.
</p>


<TabellaRichiesteProf DocenteId="1" />

@code {
    
}