@page "/ColloquiStudenti"
@using Client.Components

<p>
    Da questa pagina gli studenti possono visualizzare i colloqui richiesti ai docenti.
    Sempre da qui possono visualizzare lo stato di accettazione della richiesta.
</p>

<TabellaRichiesteStuds StudenteId="1" />

@code {
    
}